<?php include $conf['view_path'].'header.inc.html';?>
		<div class="main-wrapper">
			<div class="container wi-padding-top">
			<div class="row">
				<div class="col-md-9 col-sm-12 bb">
					<?php include $conf['view_path'].'ucenter_left_top.html';?>	

					<div class="" style="padding-top:0px">
						<div class="">
							<div class="dongtai">
								<ul class="trigger-menu" data-pjax-container="#list-container">

									
									<li class="active"><i class="fa fa-star-half-o"></i>我的积分</li>
								
								</ul>

								

<div class="wi-padding">
      
      </div>


							</div>
						</div>


					</div>

				</div>
				

				<div class="col-md-3 col-sm-12">
					
					
					
					
					<?php include $conf['view_path'].'ucenter_right.html';?>	



				</div>

			</div>

			</div>
		</div>
		<?php include $conf['view_path'].'footer.inc.html';?>
